# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# ML Models
# Uncomment these if you DON'T want models on GitHub
# *.pkl
# *.model